/* Common CSS */

*{
    box-sizing: border-box;
    max-width: 1440px;
    background-color: #F5F8FF;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.black{
    color: rgb(0, 0, 0);
}
.lightblack{
    color: rgb(137, 135, 161)
}
.orange{
    color: rgb(233, 90, 8);
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.tfont{
    font-size: 3rem;
}
.sfont{
    font-size: 1.5rem;
}
/*  */









/* Nav */

.nav{
    justify-content: space-between;
}
.nav-part{
    margin-top: 2.5rem;
}
header li{
    list-style: none;
}
header a{
    text-decoration: none;
}
.nav-list{
    gap: 2rem;
    font-weight: 600;
}
.cart{
    font-weight: normal;
    margin-left: 1.5rem;
}
/*  */








/* Banner */

.banner{
    justify-content: center;
    align-items: center;
    margin-top: 16rem;
}
.banner-title{
    font-size: 2rem;
    font-weight: 700;
}
.banner-left{
    padding-left: 2.5rem;
}
.banner p{
    font-size: 1.5rem;
}
.banner img{
    width: 570px;
    height: 355px;
}
/*  */








/* Our Plants */
.our-plants{
    text-align: center;
    margin-top: 9rem;
}
/*  */


/* grid part */

.plant-display{
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.plant-card{
    width: 16.8rem;
    text-align: center;
}
.plant-card h3{
    padding-top: 2rem;
}
.plant-card h2{
    padding-bottom: 2rem;
}
.plant-card button{
    width: 17rem;
    padding: 1rem 3rem;
    color: white;
    background-color: rgb(233, 90, 8);
    border: none;
    font-size: 1rem;
}
.plant-card button:hover{
    background-color: orange;
}
/*  */







/* plant lover section */

.plant-lover-section{
    position: relative;
    margin-top: 14rem;
}
.plant-lover-section > div{
    flex: 1;
}
.lover-right{
    padding-left: 2rem;
}
.plant-lover-section li{
    margin-bottom: 1rem;
}
.plant-lover-section .badge{
    background-color: transparent;
    height: 280px;
    width: 280px;
    position: absolute;
    top: -120px;
    left: 350px;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.5));
    animation: spin-move 8s linear infinite;
}


@keyframes spin-move {
  from {
    transform: translate(0) rotate(0deg);
  }
  to {
    transform: translate(0) rotate(360deg);
  }
}
/*  */







/* Challenge part */


.deals-section {
    max-width: 1140px;
    margin: 6.25rem auto;
    display: flex;
    gap: 1.25rem;
}
.deal {
    background-size: cover;
    background-position: center;
    filter: grayscale(30%);
    background-blend-mode: darken;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.25rem;
    height: 12.5rem;
    flex: 1;

}
.left-flex{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1.25rem;
}
.deal-large {
    height: 25rem;
    width: 70%;
}
.deal-overlay {
    background-color: transparent;
    padding: 1rem;
    border-radius: 10px;
    max-width: 80%;
}
.deals-section p{
    background-color: transparent;
    font-weight: bold;
}
.deal a {
    color: white;
    text-decoration: underline;
    background-color: transparent;
}
#responsive-p{
    font-size: 3rem;
}
#responsive-a{
    font-size: 2rem;
}
/*  */









/* Join us section */
.join-us{
    max-width: 1440px;
    height: 33rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    background-image: url(./assets/news-letter-bg.png);
}
.join-us h1{
    background-color: transparent;
    margin-bottom: 10px;
}
.join-us input{
    width: 40.25rem;
    height: 3.125rem;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    border: none;
}
.join-us button{
    width: 11.625rem;
    height: 3.125rem;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    background: rgb(233, 90, 8);
    color: white;
    font-weight: bold;
    border: none;
}
.join-us button:hover{
    background-color: orange;
}
/*  */







/* footer */
.footer{
    height: 22rem;
    margin-top: 3.125rem;
}
.footer-one img{
    width: 8.45rem;
}
.footer-one, .footer-two, .footer-three{
    flex: 1;
}
.footer-two, .footer-three{
    text-align: center;
}
.footer-two{
    grid-template-columns: repeat(2,1fr);
}
.footer-three{
    flex-direction: row;
    justify-content: flex-end;
}
.footer-three img{
    margin-right: 1.5rem;
}
footer a{
    text-decoration: none;
    color: rgb(107, 114, 128);
}

/*  */










/* Responsive part */
@media screen and (max-width: 576px) {
    
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    img{
        width: calc(100% - 1rem);
        height: auto;
    }
    
    /* nav */

    .hidden, .badge{
        display: none;
    }
    .nav{
        padding: 0 2rem;
        align-items: center;
        justify-content: space-between;
        width: auto;
    }
    #nav-li {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .nav img{
        width: 6rem;
        height: auto;
    }
    .cart{
        font-size: 1.5rem;
    }
    .nav ul li i{
        font-size: 1.5rem;
    }


    /* banner */

    .banner{
        flex-direction: column-reverse;
        margin-top: 1rem;
    }
    .banner-left{
        margin: auto;
        margin-bottom: 4rem;
        width: calc(100% - 1rem);
        margin-right: 0.5rem;
        padding-left: 1rem;
    }
    .banner-left h1, .our-plants h1, .plant-lover-section h1{
        padding: 2rem 0;
        font-size: 2rem;
    }
    .banner-left p, .our-plants p, .li-font{
        font-size: large;
    }
    .banner-right{
        width: 36rem;
    }

    /* grid layout */
    
    .plant-display{
        width: calc(100% - 1rem);
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        max-width: 36rem;
        box-sizing: border-box;
        margin: 3rem auto;
    }
    .plant-card button{
        width: 16rem;
    }

    /* plant lover */

    .plant-lover-section{
        flex-direction: column;
    }
    .lover-left img{
        width: calc(100% - 1rem);
        margin-left: 0.5rem;
    }
    .lover-right p li{
        margin-bottom: 2rem;
    }
    .lover-right{
        margin-bottom: 3rem;
    }


    /* deals section */

    .deals-section{
        flex-direction: column;
    }
    .deal{
        width: 100%;
        height: auto;
    }
    .left-flex{
        width: calc(100% - 1rem);
        height: 30rem;
        margin-left: 0.5rem;
    }
    .deal-large{
        width: calc(100% - 1rem);
        margin-left: 0.5rem;
        padding: 4.5rem 1.5rem;
    }
    #responsive-a{
        font-size: 1rem;
    }
    #responsive-p{
        font-size: 1.5rem;
    }


    /* join us section */

    .join-us{
        background-size: cover;
        background-position: center;
        height: 17rem;
    }
    .join-us h1{
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }
    .join-us input{
        width: 17rem;
        height: 3.125rem;
    }
    .join-us button{
        width: 6.4375rem;
        height: 3.125rem;
    }


    /* footer */

   .footer {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        height: auto;
        padding: 2rem 1rem;
   }
   .footer-one img{
        width: 11.25rem;
        margin-bottom: 1.5rem;
   }
   .footer-two {
        grid-template-columns: repeat(1,1fr);
        line-height: 3rem;
   }
  
   .footer-three {
        justify-content: flex-start;
        margin-left: 0;
        gap: 2rem;
   }
   .footer-one, .footer-two, .footer-three{
        text-align: start;
   }

}
  /*  */

  /* grid for iphone 14 pro max */
    @media screen and (max-width: 460px) {
        .plant-display{
            grid-template-columns: 13rem 13rem;
            gap: 1rem;
            max-width: calc( 100% - 1rem)
        }
        .plant-card h3{
            padding-top: 1rem;
        }
        .plant-card h2{
            padding-bottom: 1rem;
        }
        .plant-card button{
            padding: 1rem;
            margin: 0;
            width: 13rem
        }
        .nav ul li i{
        font-size: 1rem;
    }
}
